<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Dashboard Customer</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <script src="http://code.angularjs.org/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="angular/customerDashboard.js"></script>
    

    <link href="stylesheets/dashboard.css" rel="stylesheet">
    <script>

        $(document).ready( function() {

            $('.myrides').show();
            $('.profile').hide();
            $('.payment').hide();
            //$('.img').hide();

            $("tr").click(function(){
                $(".img").slideToggle();
            });
            $(".click1").on("click", function() {
                $(".myrides").show();
                $('.profile').hide();
                $('.payment').hide();

            });
            $(".click2").on("click", function() {
                $(".myrides").hide();
                $('.profile').show();
                $('.payment').hide();

            });
            $(".click3").on("click", function() {
                $(".myrides").hide();
                $('.profile').hide();
                $('.payment').show();
            });

        });


    </script>

</head>

<body ng-app="customers">
<% include navbar.ejs %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>

                <li class=""><a href="javascript:void(0)" class="click1">My Trips</a></li>
                <li class=""><a href="requestRide" class="clickride">Request a ride</a></li>
                <li><a href="javascript:void(0)" class="click2">Profile</a></li>
                <li><a href="javascript:void(0)" class="click3">Payment</a></li>
                <li><a href="logout">Log out</a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="customers">

            <div class="myrides" ng-controller="rides">
                <center>
                    <h2 class="sub-header">MY RIDES</h2></center>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Ride</th>
                            <th>Driver</th>
                            <th>Fare</th>
                            <th>Car</th>
                            <th>PickUp</th>
                            <th>Dropoff</th>
                            <th>Payment Method</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="k in rides">

                        <tr class="clickme">
                            <td>1</td>
                            <td>{{k.driverId}}</td>
                            <td>$30</td>
                            <td>UberX</td>
                            <td>{{k.pickUpLocation}}</td>
                            <td>{{k.dropOffLocation}}</td>
                            <td>**** credit card</td>
                        </tr>

                        <tr>
                            <td> <h1 class="img">img</h1></td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>






            <div class="profile" ng-controller="profile">


                <center>  <h2 class="sub-header">PROFILE</h2></center>
                <h4>General Information</h4><hr>
                <div class="row">
                    <div class="col-md-2">
                        <p>First name : </p>
                    </div>
                    <div class="col-md-3"><input class="form-control" type="text" ng-model="firstName"></div>

                    <div class="col-md-2">
                        <p>Last name : </p>
                    </div>
                    <div class="col-md-3"><input class="form-control" type="text" ng-model="lastName"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        <p> City : </p>
                    </div>

                    <div class="col-md-3"><input class="form-control" type="text" ng-model="city"></div>

                    <div class="col-md-2">
                        <p> State : </p>
                    </div>
                    <div class="col-md-3"><input class="form-control" type="text" ng-model="state"></div>

                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        <p> Email : </p>
                    </div>
                    <div class="col-md-3"><input class="form-control" type="text" ng-model="email"></div>

                    <div class="col-md-2">
                        <p> Zip Code : </p>
                    </div>
                    <div class="col-md-3"><input class="form-control" type="text" ng-model="zipCode"></div>
                </div><hr>


                <div class="row">
                    <div class="col-md-2">
                        <p> Mobile : </p>
                    </div>
                    <div class="col-md-3"><input class="form-control" type="text" ng-model="phoneNumber"></div>

                    <div class="col-md-2">
                        <p> CreditCard : </p>
                    </div>
                    <div class="col-md-3"><input class="form-control" type="text" ng-model="creditCard"></div>
                </div>
                <hr>
                <button type="submit" class="btn btn-success" ng-click="save()">Save </button>

            </div>





            <div class="payment" ng-controller="payment">
                <center>  <h2 class="sub-header">PAYMENT</h2></center>
                <h4>Payment Method</h4><hr>
                <p>Personal Credit Card : <input type="text" ng-model="creditCard"></p>
            </div>

        </div>
    </div>

</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</body>
</html>
