<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Dashboard Driver</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <script src="http://code.angularjs.org/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="angular/driverDashboard.js"></script>
    

    <link href="stylesheets/dashboard.css" rel="stylesheet">
    <script>

        $(document).ready( function() {

            $('.myrides').show();
            $('.profile').hide();
      
        
            $(".click1").on("click", function() {
                $('.myrides').show();
                $('.profile').hide();
                
            });
            
            $(".click2").on("click", function() {
            	alert("holaveri");
                $('.myrides').hide();
                $('.profile').show();
            
            });
            });
            
     
    </script>

</head>

<body ng-app="drivers">
<% include navbar.ejs %>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a>Overview <span class="sr-only">(current)</span></a></li>

                <li class=""><a href="javascript:void(0)" class="click1">My Trips</a></li>
           
                <li><a href="javascript:void(0)" class="click2">Profile</a></li>
             
                <li><a href="logout">Log out</a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="myrides" ng-controller="myrides">
                <center>
                    <h2 class="sub-header">MY RIDES</h2>
                    </center>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Ride</th>
                            <th>Customer</th>
                            <th>Fare</th>
                            <th>Car</th>
                            <th>PickUp</th>
                            <th>Dropoff</th>
                            <th>Payment Method</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="k in rides">

                        <tr>
                            <td>1</td>
                            <td>{{k.customerId}}</td>
                            <td>$30</td>
                            <td>UberX</td>
                            <td>{{k.pickUpLocation}}</td>
                            <td>{{k.dropOffLocation}}</td>
                            <td>**** credit card</td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>






            <div class="profile" ng-controller="profile">

                <center>  <h2 class="sub-header">PROFILE</h2></center>
                <h4>General Information</h4><hr>
                <div class="row">
                    <div class="col-md-2">
                        <p>First name : </p>
                    </div>
                    <div class="col-md-3"><input type="text" ng-model="firstName"></div>

                    <div class="col-md-2">
                        <p>Last name : </p>
                    </div>
                    <div class="col-md-3"><input type="text" ng-model="lastName"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        <p> City : </p>
                    </div>

                    <div class="col-md-3"><input type="text" ng-model="city"></div>

                    <div class="col-md-2">
                        <p> State : </p>
                    </div>
                    <div class="col-md-3"><input type="text" ng-model="state"></div>

                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        <p> Email : </p>
                    </div>
                    <div class="col-md-3"><input type="text" ng-model="email"></div>

                    <div class="col-md-2">
                        <p> Language : </p>
                    </div>
                    <div class="col-md-3">English</div>
                </div><hr>


                <div class="row">
                    <div class="col-md-2">
                        <p> Mobile : </p>
                    </div>
                    <div class="col-md-3"><input type="text" ng-model="phoneNumber"></div>

                    <div class="col-md-2">
                        <p> CarDetails : </p>
                    </div>
                    <div class="col-md-3"><input type="text" ng-model="carDetails"></div>
                </div>
                <button type="submit" class="btn btn-success" ng-click="save()">Save </button>
                <hr>
            </div>



</div>

     
    </div>

</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</body>
</html>
