  <center>  <h2 class="sub-header">Drivers' list</h2></center>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Driver</th>
                  <th>Car</th>
                  <th>City</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Johan</td>
                 
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>x</td>
                </tr> <tr>
                  <td>1</td>
                  <td>Johan</td>
                 
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>x</td>
                </tr> <tr>
                  <td>1</td>
                  <td>Johan</td>
                 
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>x</td>
                </tr> <tr>
                  <td>1</td>
                  <td>Johan</td>
                 
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>x</td>
                </tr> <tr>
                  <td>1</td>
                  <td>Johan</td>
                 
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>x</td>
                </tr>                
              </tbody>
            </table>
          </div>
      
