<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add your details</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="http://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>
    <script src="http://code.angularjs.org/1.3.15/angular.js"></script>
    <script src="http://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>
    <script src="angular/driverDetails.js"></script>
    <!-- Custom CSS -->
    <link href="stylesheets/modern-business.css" rel="stylesheet">

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="index.html">UBER</a>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="logout">Logout</a>
                </li>
            </ul>
        </div>

    </div>
    <!-- /.container -->
</nav>
<br><br><br>

<div class="col-md-3 column margintop20">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="javascript:void(0)" class="click1"><span class="glyphicon glyphicon-chevron-right"></span> VEHICLE INFORMATION</a></li>
        <li><a href="javascript:void(0)" class="click2"><span class="glyphicon glyphicon-chevron-right"></span> BACKGROUND CHECK</a></li>
        <li><a href="javascript:void(0)" class="click3"><span class="glyphicon glyphicon-chevron-right"></span> DOCUMENT UPLOAD</a></li>
        <li><a href="javascript:void(0)" class="click4"><span class="glyphicon glyphicon-chevron-right"></span> VIDEO</a></li>
    </ul>
</div>
<div class="col-md-9" ng-app="driverDetails" ng-controller="driverDetails">
    <form id="form" method="post" name="driverDetails" novalidate>

        <div class="vehicle" ng-hide="vehicle" ng-init="email='<%= email %>'">
            <div class="col-md-5">
                <h2>VEHICLE INFORMATION</h2><hr>
                <p style = "font-size:16px;"> Type of Vehicle :
                    <input class="form-control" ng-model="carName" type="text" ng-pattern="/^([a-zA-Z0-9 ]{1,30})$/" name="carName" value="" placeholder="Vehicle Type" required></p>
                   <span style="color:red" ng-show="driverDetails.carName.$dirty && driverDetails.carName.$invalid">
                        <span ng-show="driverDetails.carName.$error.required">Vehicle type is required</span><br/>
                        <span ng-show="driverDetails.carName.$error.pattern">Please enter a Vehicle Type</span><br/>
                    </span>
                <p style = "font-size:16px;"> Number Plate :
                    <input class="form-control" ng-model="NumberPlate" ng-pattern="/^([a-zA-Z0-9 ]{1,8})$/" type="text" name="NumberPlate" value="" placeholder="Number Plate" required></p>
                    <span style="color:red" ng-show="driverDetails.NumberPlate.$dirty && driverDetails.NumberPlate.$invalid">
                        <span ng-show="driverDetails.NumberPlate.$error.required">Number Plate is required</span>
                        <span ng-show="driverDetails.NumberPlate.$error.pattern">Please enter a valid Number Plate</span><br/>
                    </span>
                    <input class="btn btn-lg btn-default click2" type="submit" ng-click = "validVehicle($event)" value="Continue" />
            </div>
        </div>


        <div class="background" ng-hide="background">
            <div class="col-md-5">
                    <h2>Background Information: </h2><hr>
                    <p style = "font-size:16px;"> License : <br>
                        <input ng-model="lisence" class="form-control" ng-pattern="/^([0-9]{1,20})$/" type="text" name="lisence" value="" placeholder="000-00-0000" required></p><br>
                        <span style="color:red" ng-show="driverDetails.lisence.$dirty && driverDetails.lisence.$invalid">
                            <span ng-show="driverDetails.lisence.$error.required">License No is required</span>
                            <span ng-show="driverDetails.lisence.$error.pattern">Please enter a valid Number Plate</span><br/>

                        </span>
                    <p style = "font-size:16px;"> Current Location : <br>
                    <input ng-model="currentLocation" class="form-control" places-auto-complete name="currentLocation" value="" placeholder="street,city,zipcode" required></p><br>
                        <span style="color:red" ng-show="driverDetails.currentLocation.$dirty && driverDetails.currentLocation.$invalid">
                            <span ng-show="driverDetails.currentLocation.$error.required">Your Current Location is required</span>
                        </span>
                        <input class="btn btn-lg btn-default click3" type="submit" ng-click = "validBackground($event)" value="Continue" />
            </div>
        </div>


        <div class="video" ng-hide="video">
            <div class="col-md-5">
                    <h2>VIDEO</h2><hr>
                    <p style = "font-size:16px;"> Video URL :<br> <br>
                        <input ng-model="VideoURL" class="form-control" type="text" name="VideoURL" value="" placeholder="VideoURL" required></p><br>
                        <span style="color:red" ng-show="driverDetails.VideoURL.$dirty && driverDetails.VideoURL.$invalid">
                            <span ng-show="driverDetails.VideoURL.$error.required">Video URL is required</span>
                        </span>
                    <br><input class="btn btn-lg btn-success" ng-click="submit($event)" type="Submit" value="Continue" />
            </div>
        </div>


    </form>
    <form id="form" method="post" name="uploadImage" action="/addDriverImage" enctype="multipart/form-data">
        <div class="profilePhoto" ng-hide="profilePhoto">
            <input type="hidden" ng-bind="email" name="email">
            <div class="col-md-8">
                <h2>Please upload a photo of yours !</h2>
                Upload : <br><br><input name="file" id="file" class="btn btn-lg btn-default" type= "file" required>
                <br>
                <input class="btn btn-lg btn-default click4" type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>


</body>
</html>