<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add Images</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="http://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>
    <script src="http://code.angularjs.org/1.3.15/angular.js"></script>
    <!-- Custom CSS -->
    <script src="angular/image.js"></script>
    <link href="stylesheets/modern-business.css" rel="stylesheet">

</head>

<body ng-app="image" ng-controller="image">

    <img ng-src="{{image}}" width="800" height="800">

</div>


</body>
</html>