<!DOCTYPE html>

<html lang="en">
<head>
<title>Login</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>


<body style="background-color:#00001a">



<div class="container">

<br/><br/><br/><br/>

<div class="row">



<div class="col-md-4"></div>

 <div class="col-md-4" style= "display: block;">



	<form id="form" action="registerCustomer" method="post" name='registration'>

            

		<h1 style="color:#fff; text-align:center; font-size:40px;">U B E R </h1><hr>
		
		
		  <button type="button" class="btn btn-info" onclick="window.location.href='/loginCustomer'" style = "padding : 16px 94px; font-size:18px;">LOG IN AS A RIDER</button>
		  <br><br>
		 <button type="button" class="btn btn-info" onclick="window.location.href='/loginDriver'"style = "padding : 16px 89px; font-size:18px; background-color:#999999">LOG IN AS A DRIVER</button>
		
	</form>

</div>

<div class="col-md-3"></div>

</div>

</div>
  
</html>

