<!DOCTYPE html>

<html lang="en">

<title>Registration Form</title>

<link href="./css/bootstrap.min.css" rel="stylesheet">

<link href="./css/custom.css" rel="stylesheet">



<body style="background-color:#00001a">



<div class="container">

<br/><br/><br/><br/>

<div class="row">



<div class="col-md-4"></div>

 <div class="col-md-4" style= "display: block;">



	<form id="form" action="registerCustomer" method="post" name='registration'>

            

		<h1 style="color:#fff; text-align:center; font-size:40px;">U B E R </h1><hr>
		
		
		  <button type="button" class="btn btn-info" style = "padding : 16px 94px; font-size:18px;">LOG IN AS A RIDER</button>
		  <br><br>
		 <button type="button" class="btn btn-info" style = "padding : 16px 89px; font-size:18px; background-color:#999999">LOG IN AS A DRIVER</button>
		
		
		

	</form>

  

</div>

<div class="col-md-3"></div>

</div>

</div>



            

<script src="./js/bootstrap.min.js"></script>

 





</html>

