<!DOCTYPE html>

<html lang="en">
<head>
<title>Login Customer</title>
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	  <script src="angular/loginCustomer.js"></script>
	  <title>Login - Customer</title>
</head>

<body style="background-color:#00001a" ng-app="loginCustomer" ng-controller="loginCustomer" >

<div class="container">

<br/><br/><br/><br/>

<div class="row">



<div class="col-md-4"></div>

 <div class="col-md-4" style= "display: block;">



	<form id="form" name="registration" novalidate>

            

		<h1 style="color:#fff; text-align:center; font-size:40px;">U B E R </h1><hr>
		
	<p style = "font-size:16px; color:#fff;">Email</p>
		<input ng-model="email" class="form-control" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" maxlength="40" type="email" name="email" value="" placeholder="Email" required>
				<span style="color:red" ng-show="registration.email.$dirty && registration.email.$invalid">
  					<span ng-show="registration.email.$error.required">Email is required.</span>
					<span ng-show="registration.email.$error.pattern">Incorrect Email address.</span>
  				</span>
		<br><p style = "font-size:16px; color:#fff">Password</p>
		<input ng-model="password" class="form-control" maxlength="30" type="password" name="password" value="" placeholder="Password" required>
		<span style="color:red" ng-show="registration.password.$dirty && registration.password.$invalid">
					<span ng-show="registration.password.$error.required">Password is required.</span>
		</span>
		<br>
		
			
		
		  <button type="submit" ng-click="submit($event)" class="btn btn-info" style = "padding : 16px 154px; font-size:14px;">LOG IN</button>
		  <br>
		  <br>
		<div class="alert alert-danger" ng-hide="invalid_login">
						<strong>Incorrect username or password</strong>
					</div>
					<div class="alert alert-danger" ng-hide="unexpected_error">
						<strong>Unexpected error, try again</strong>
					</div>
		

	</form>

  <div class="row" style="margin-left: 192px;">
	  Not Registered?<a href="/signupCustomer"> Click here</a>
  </div>

</div>

<div class="col-md-3"></div>

</div>

</div>
</html>

