<!DOCTYPE html>

<html lang="en">
<head>
<title>Driver Login</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#00001a">

<div class="container">

<br/><br/><br/><br/>

<div class="row">



<div class="col-md-4"></div>

 <div class="col-md-4" style= "display: block;">



	<form id="form" action="registerDriver" method="post" name='registration'>

            

		<h1 style="color:#fff; text-align:center; font-size:40px;">U B E R </h1><hr>
		
	<p style = "font-size:16px; color:#fff;">Email</p><input class="form-control" maxlength="40" type="email" name="email" value="" placeholder="Email" required>

		<br><p style = "font-size:16px; color:#fff">Password</p><input class="form-control" maxlength="10" type="text" name="password" value="" placeholder="Password" required>

		<br>
		
		  <button type="button" class="btn btn-info" style = "padding : 16px 154px; font-size:14px;">LOG IN</button>
		  <br>
		
		

	</form>

  

</div>

<div class="col-md-3"></div>

</div>

</div>
</html>

