  <center>  <h2 class="sub-header">MY RIDES</h2></center>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Pickup</th>
                  <th>Driver</th>
                  <th>Fare</th>
                  <th>Car</th>
                  <th>City</th>
                  <th>Payment Method</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>02/02/2014</td>
                  <td>Johan</td>
                  <td>$30</td>
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>**** credit card</td>
                </tr>
               <tr>
                  <td>02/02/2014</td>
                  <td>Johan</td>
                  <td>$30</td>
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>**** credit card</td>
                </tr>
                <tr>
                  <td>02/02/2014</td>
                  <td>Johan</td>
                  <td>$30</td>
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>**** credit card</td>
                </tr><tr>
                  <td>02/02/2014</td>
                  <td>Johan</td>
                  <td>$30</td>
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>**** credit card</td>
                </tr><tr>
                  <td>02/02/2014</td>
                  <td>Johan</td>
                  <td>$30</td>
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>**** credit card</td>
                </tr><tr>
                  <td>02/02/2014</td>
                  <td>Johan</td>
                  <td>$30</td>
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>**** credit card</td>
                </tr><tr>
                  <td>02/02/2014</td>
                  <td>Johan</td>
                  <td>$30</td>
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>**** credit card</td>
                </tr><tr>
                  <td>02/02/2014</td>
                  <td>Johan</td>
                  <td>$30</td>
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>**** credit card</td>
                </tr><tr>
                  <td>02/02/2014</td>
                  <td>Johan</td>
                  <td>$30</td>
                  <td>UberX</td>
                  <td>San Jose</td>
                  <td>**** credit card</td>
                </tr>
                
              </tbody>
            </table>
          </div>
      
