
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="profile">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">U B E R</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user" style="font-size:30px;"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">{{firstName}}</a></li>
                        <li class="divider"></li>

                        <li><a href="logout">Logout</a></li>
                    </ul>

            </ul>


        </div>
    </div>
</nav>
