  <center>  <h2 class="sub-header">PROFILE</h2></center>
  <h4>General Information</h4><hr>
  <div class="row">
  <div class="col-md-2">
  <p> Name : </p>
  </div>
  <div class="col-md-3">Soham Badheka</div>
  
  <div class="col-md-2">
  <p> City : </p>
  </div>
  <div class="col-md-3">San Jose</div>
  
  </div>
  <hr>
  <div class="row">
  <div class="col-md-2">
  <p> Email : </p>
  </div>
  <div class="col-md-3">sohambadheka008@gmail.com</div>
  
  <div class="col-md-2">
  <p> Language : </p>
  </div>
  <div class="col-md-3">English</div>
  </div><hr>
  
  
 <div class="row">
  <div class="col-md-2">
  <p> Mobile : </p>
  </div>
  <div class="col-md-3">+18191819189</div>
  
  <div class="col-md-2">
  <p> CreditCard : </p>
  </div>
  <div class="col-md-3">Linked ****5652</div>
  </div><hr>
  