  <center>  <h2 class="sub-header">Approval needed from admin</h2></center>
  <p>Customer List :</p> <button class="btn btn-success" type="submit">Approve</button><hr>
  <p> Driver List : </p><button class="btn btn-success" type="submit" >Approve</button><button type="submit" class="btn btn-danger" >Ignore</button>