<!DOCTYPE html>

<html lang="en">

<title>Registration Form</title>

<link href="./css/bootstrap.min.css" rel="stylesheet">

<link href="./css/custom.css" rel="stylesheet">



<body style="background-color:#fff">



<div class="container">

<br/><br/><br/><br/>

<div class="row">



<div class="col-md-3"></div>

 <div class="col-md-6" style= "display: block;">



	<form id="form" action="registerCustomer" method="post" name='registration' style= "border-style:groove;padding : 50px 40px 10px 40px;">

            

		<h1 style="color:#1fbad6; font-size:50px;">SIGN UP TO RIDE !</h1><hr>
		
		<p style="font-size:26px;">ACCOUNT</p>
		
		<p style = "font-size:16px;"> * Email : </p><input class="form-control" maxlength="40" type="email" name="email" value="" placeholder="Email" required>

		<br><p style = "font-size:16px;"> * Password :</p><input class="form-control" maxlength="10" type="text" name="password" value="" placeholder="Password" required>

		<br>
		<br>
		<p style="font-size:26px;">PROFILE</p>
		<p style = "font-size:16px;">* Firstname : </p>
		<input class="form-control" name="firstName" size="20" placeholder="Firstname" required><br>

		<p style = "font-size:16px;">* Lastname :</p>
		<input class="form-control" type="text" name="lastName" value="" placeholder="Lastname" required><br>

		<p style = "font-size:16px;">* City : </p><input class="form-control" type="text" name="city" value="" placeholder="City" required>	

		<br><p style = "font-size:16px;">* State : </p><input class="form-control" type="text" name="state" value="" placeholder="State" required>	

		<br><p style = "font-size:16px;">* Zipcode : </p><input class="form-control" type="text" name="zipCode" value="" placeholder="zipCode" required>	

		<br><p style = "font-size:16px;">* Address : </p><input class="form-control" type="text" name="address" value="" placeholder="Address" required>	

		<br><p style = "font-size:16px;">* Mobile No : </p> <input type="tel" value="" name="mobile" id="mobile" placeholder="+1 (201) 555-5555"><br>

		<br><center><input class="btn btn-lg btn-default" type="Submit" value="Register" /></center>

		<p></p><br>

                

	</form>

  

</div>

<div class="col-md-3"></div>

</div>

</div>

           

<script src="./js/bootstrap.min.js"></script>


</html>

