<!DOCTYPE html>

<html lang="en">

<head>
<title>Customer Signup</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="angular/signupCustomer.js"></script>
</head>


<body style="background-color:#fff" ng-app="signupCustomer">



<div class="container">

<br/><br/><br/><br/>

<div class="row">



<div class="col-md-3"></div>

 <div class="col-md-6" style= "display: block;">



	<form id="form" method="post" ng-controller = "signupCustomer" name='registration' novalidate style= "border-style:groove; padding : 50px 40px 10px 40px;">

            

		<h1 style="color:#1fbad6; font-size:50px;">SIGN UP TO RIDE !</h1><hr>
		
		<p style="font-size:26px;">ACCOUNT</p>
		
		<p style = "font-size:16px;"> * Email : </p><input ng-model="email" class="form-control" maxlength="40" type="email" name="email" value="" placeholder="Email" required>
		<span style="color:red" ng-show="registration.email.$dirty && registration.email.$invalid">
  					<span ng-show="registration.email.$error.required">Email is required.</span>
  				</span>	
	

		<br><p style = "font-size:16px;"> * Password :</p><input ng-pattern="/(?=^.{6,}$)/" ng-model="password" class="form-control" maxlength="30" type="password" name="password" value="" placeholder="Password" required>
	<span style="color:red" ng-show="registration.password.$dirty && registration.email.$invalid">
  					<span ng-show="registration.password.$error.required">Password is required.</span>
  				</span>	
		<br>
		<br>
		<p style="font-size:26px;">PROFILE</p>
		<p style = "font-size:16px;">* Firstname : </p>
		<input ng-model="firstName" class="form-control" name="firstName" size="20" placeholder="Firstname" required><br>
		
		<span style="color:red" ng-show="registration.firstName.$dirty && registration.firstName.$invalid">
  					<span ng-show="registration.password.$error.required">Firstname is required.</span>
  		</span>	


		<p style = "font-size:16px;">* Lastname :</p>
		<input class="form-control" ng-model="lastName" type="text" name="lastName" value="" placeholder="Lastname" required><br>
			
		<span style="color:red" ng-show="registration.lastName.$dirty && registration.lastName.$invalid">
  					<span ng-show="registration.lastName.$error.required">Password is required.</span>
  		</span>		



		<p style = "font-size:16px;">* City : </p><input ng-model="city" class="form-control" type="text" name="city" value="" placeholder="City" required>	
		
		<span style="color:red" ng-show="registration.city.$dirty && registration.city.$invalid">
  					<span ng-show="registration.city.$error.required">Password is required.</span>
  		</span>	
	

		<br><p style = "font-size:16px;">* State : </p><input ng-model="state" class="form-control" type="text" name="state" value="" placeholder="State" required>	
		
		<span style="color:red" ng-show="registration.state.$dirty && registration.state.$invalid">
  					<span ng-show="registration.state.$error.required">Password is required.</span>
  		</span>	


		<br><p style = "font-size:16px;">* Zipcode : </p><input ng-pattern="^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$" ng-model="zipCode" class="form-control" type="text" name="zipCode" value="" placeholder="zipCode" required>	

		<span style="color:red" ng-show="registration.zipCode.$dirty && registration.zipCode.$invalid">
  					<span ng-show="registration.zipCode.$error.required">Zipcode is required.</span>
  		</span>	

		<br><p style = "font-size:16px;">* Address : </p><input ng-model="address" class="form-control" type="text" name="address" value="" placeholder="Address" required>	

		<span style="color:red" ng-show="registration.address.$dirty && registration.address.$invalid">
  					<span ng-show="registration.zipCode.$error.required">Address is required.</span>
  		</span>	

		<br><p style = "font-size:16px;">* Mobile No : </p> <input ng-pattern= "^([0-9]{3})?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$"type="tel" ng-model="phoneNumber" value="" name="phoneNumber" id="mobile" placeholder="+1 (201) 555-5555"><br>

		<span style="color:red" ng-show="registration.phoneNumber.$dirty && registration.phoneNumber.$invalid">
  					<span ng-show="registration.phoneNumber.$error.required">Mobile number is required.</span>
  		</span>	

		<br><p style = "font-size:16px;">* Credit Card : </p> <input type="text" ng-model="creditCard" value="" name="creditCard" id="cc" placeholder="5555-5555-5555-5555">
		
		<span style="color:red" ng-show="registration.creditCard.$dirty && registration.creditCard.$invalid">
  					<span ng-show="registration.creditCard.$error.required">Credit card information is required.</span>
  		</span>	
  		
		<br><center><input class="btn btn-lg btn-default" type="submit" ng-click="validate($event)" value="Register" /></center>

		<p></p><br>
			
		

                

	</form>

  

</div>

<div class="col-md-3"></div>

</div>

</div>

</html>

